<% @pendings.each do |recipe| %>
  <div id="#{recipe.id}">
    <h1><%= link_to recipe.title, recipe %></h1>
    <ul>
      <li><%= recipe.recipe_type.name %></li>
      <li><%= recipe.cuisine %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= "#{recipe.cook_time} minutos" %></li>
    </ul>
    <%= link_to 'Aceitar', approve_recipe_path(recipe), method: :post %>
    <%= link_to 'Rejeitar', reject_recipe_path(recipe), method: :post %>
  </div>
<% end %>
<%= flash[:notice] %>
